

.content{
	background-color: white;
	padding-bottom: 139px;
}

.sidebar{
	background-color: rgba(177,0,17,.3); 
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: white;
	padding-left: 0px;
	padding-right: 0px;


}


.navbar-top{
	background-color: #;
	padding-bottom: 12px;
	text-align: center;
	padding-top: 8px;
	font-family: 'Oswald', sans-serif;
	color: black;
	border-right: 2px solid black;
}

#main {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;	
	text-align: center;
	color: white;
	background-color: black;
	margin-bottom:0px;
	background-image: src"01.jpg"
}

.final{
	border-bottom: 2px solid gray;
	padding-bottom: 15px;
}

.navbar-top:hover{
	background-color: white;
	padding-bottom: 20000px;
	transition-duration: 0.85s;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;


}

.navparent {
	background-color: white;
}

#nav1:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav2:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav3:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav4:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav5:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav6:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color:white;
}

#nav7:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	color: black;
	background-color: black;
	color: white;
}

#nav8:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav9:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav10:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color:white;
}

#nav11:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}

#nav12:hover {
	background-color: white;
	padding-bottom: 80px;
	transition-duration: 0.85s;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	color: white;	
}


.sbcont {
	background-image: url(04.jpg);
	width: 100px;

}

.sbitem {
	background-color: rgba(177,0,17,.4);
	margin-bottom: 0px;
	padding-bottom: 50px
}

.sbitem:hover {
	background-color: white;
	padding-bottom: 120px;
	color: black;
	font-size: 60px;
	transition-duration: 0.8s;


}

.sbi1 {
	background-color: rgba(177,0,17,.6);
}

a {
	color: white;
	text-decoration: none;

}

a:hover {
    text-decoration: none;
}

.navtext:hover {
	padding-right: 30px;
}